<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>627442016297-099srjs941cg0vmfmnevu646bj1aajku.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.627442016297-099srjs941cg0vmfmnevu646bj1aajku</string>
	<key>API_KEY</key>
	<string>AIzaSyBzssMvJI-GNQPuTP2x0EgdQrENR-3WAgA</string>
	<key>GCM_SENDER_ID</key>
	<string>627442016297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mysterycoder456.VegieMato</string>
	<key>PROJECT_ID</key>
	<string>vegiemato-46cd5</string>
	<key>STORAGE_BUCKET</key>
	<string>vegiemato-46cd5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:627442016297:ios:00fc81db6ff2c00a7b3c38</string>
	<key>DATABASE_URL</key>
	<string>https://vegiemato-46cd5.firebaseio.com</string>
</dict>
</plist>